/* Background gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-45deg, #000000, #0950b3, #294b7e, #0e386b, #1c448f);
  background-size: 400% 400%; /* Ukuran besar untuk efek halus */
  animation: gradientAnimation 10s ease infinite; /* Animasi lebih lambat untuk efek elegan */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* Transparan putih */
  z-index: -1;
  backdrop-filter: blur(10px); /* Blur lebih halus */
}

.logo-section,
.login-form {
  width: 470px;
  height: 480px;
  border-radius: 30px;
  box-sizing: border-box;
}

.logo-section {
  background: linear-gradient(135deg, #0f409c 0%, #5a7fc8 100%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 40px 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.logo-image {
  width: 200px;
  margin-bottom: 0;
}

.login-form {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-in-section {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.sign-in-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.sign-in-section p {
  color: #666;
  margin-bottom: 20px;
}

.sign-in-section input {
  width: 80%;
  padding: 7px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  transition: border-color 0.3s;
  margin-left: 10px;
}

.sign-in-section input:focus {
  border-bottom-color: #ae6d0ac8;
  outline: none;
}

.password-field {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 58px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.sign-in-section button {
  width: 60%;
  padding: 12px;
  background: #0059ff;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'Poppins', sans-serif;
  margin-left: 65px;
  margin-top: 20px;
}

.sign-in-section button:hover {
  background: #004494;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #333;
  text-align: center;
}

.register-link {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.register-link a {
  color: #004494;
  text-decoration: none;
}
